<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis distinctio explicabo totam vitae dolorem amet cumque ipsum deserunt corrupti asperiores ex dolor, aperiam eaque adipisci, esse aut eius eligendi sint.</p>
    </div>
</div>