<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa totam excepturi eligendi id tempore deserunt expedita deleniti, vero, facilis ullam voluptatum ducimus officiis exercitationem ipsam dolor, aliquid vel harum fugit.</p>
    <a href="#" class="btn btn-primary btn-lg">Inicio</a>
</div>